<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark ">
  <div class="container-fluid">
    <a class="navbar-brand titleSpacing" href="/campgrounds/index"><span><i class="fab fa-yelp"></i></span>Yelp-Camp</a>
    <i class="fab fa-yelp"></i>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link titleSpacing" aria-current="page" href="/campgrounds">Home</a>
        <a class="nav-link titleSpacing" href="/campgrounds">All Campgrounds</a>
        <a class="nav-link titleSpacing" href="/campgrounds/new">New Campground</a>

      </div>

    </div>

    <div class="navbar-nav ml-auto">

      <% if(!CurrentUser) {%> 
      <a class="nav-link p-1 border rounded-pill mx-2 text-white border-danger" href="/register">Sign up</a>
      <a class="nav-link p-1 border rounded-pill text-white border-danger" href="/login">Login</a>
      <%} else {%> 
        
            <a class="nav-link" href="/logout">Logout</a> 
            
         


      
<% } %> 

    </div>
  </div>
</nav>