#showImage{

    background-size: cover;
    background-position: center;
    width: auto;
    height: 300px;
    
}

.shadows{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn{
    letter-spacing: 2px;
    font-weight: 700;
}

.titleSpacing{
    letter-spacing: 2px;
}

.textSpacing{
    letter-spacing: 1px;
}