#showImage{

    background-size: cover;
    background-position: center;
    width: auto;
    height: 300px;
    
}

#map{
    height: 630px;
    width: auto;
}

@media screen and (max-width: 600px) {
    #map{
        height: 400px;
    }
}

.shadows{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn{
    letter-spacing: 2px;
    font-weight: 700;
}

.titleSpacing{
    letter-spacing: 4px;
    inline-size: auto;
}

.textSpacing{
    letter-spacing: 1px;
}

body{
    /* max-height: fit-content; */
}