body{
    height: 100vh;
    background-image: url(kevin-ianeselli-ebnlHkqfUHY-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

#para{
    /* max-width: 50vw; */
    
}

.container footer{
    /* max-width: 100vw; */
}

.con{
    /* height: 100vh; */
}