body{
    height: 100vh;
    background-image: url(kevin-ianeselli-ebnlHkqfUHY-unsplash.jpg);
    background-size: cover;
    background-position: center;
}

h1{
    font-weight: 700;
    letter-spacing: 2px;
    font-size: xx-large;
}


.navbar-brand{
    font-weight: bolder;
}
